.button-container {
    margin-top: 10px; /* Espaçamento entre a lista de jobs e os botões */
    display: flex; /* Usando Flexbox para alinhar os botões */
    padding-left: 50px;
  }
  
  .button-container button {
    margin-left: 10px; /* Espaçamento entre os botões */
    
  }
  
  .job-input {
    margin-bottom: 10px; /* Espaçamento entre o campo de input e o botão de enviar */
    display: block; /* Para o campo de input ocupar a largura total */
    width: calc(100% - 20px); /* Reduzindo a largura para dar espaço nas laterais */
  }
  
div > ul > li > button {
    margin: 150px

  }

/* JobList.css */
.job-list-container {
  padding: 20px;
  text-align: center;
}

.job-list {
  color: black;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.bg-pending {
  background-color: rgb(238, 170, 68); /* Cor para jobs pendentes */
}

.bg-approved {
  background-color: rgb(74, 224, 74); /* Cor para jobs aprovados */
}
.bg-rejected {
  background-color: rgb(224, 79, 74); /* Cor para jobs aprovados */
}